.card-header{
    height: 125px;
    background-color: green;
}

.icon{
    margin-left: 5%;
    margin-top: -50px;
    height: 150px;
    width: 150px;
}

.user-card{
    width: 75%;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    /* padding: 20px; */
    border: 5px solid green;

}

.card-body{
    margin: 5%;
    margin-top: -10px;
}

.map{
    height: 20px;
    width: 13px;
}

.gear{
    height: 15px;
    width: 15px;
}
